.container {
  display: flex;
}
.sidebar {
  width: 20%;
  margin-right: 20px;
  box-shadow: 10px 10px 8px #888888;
  overflow: scroll;
  height: 100vh;
  position: fixed;
  top: 60px;
}
.product {
  width: 80%;
}
